<app-header></app-header>
<main style="background: whitesmoke; font-family: 'Times New Roman', Times, serif">
    <div class="row col-lg-12" style="height: 580px;">
        <div class="col-3 bg-dark">
            <div class="navbar-menu mt-5" style="color: white; font-size: 20px;">
                <div (click)="show_abonnements()" class="row properties afterClick" id="div">
                    Gestion des Abonnements
                </div>
                <div id="div" (click)="show_reservations()" class="row properties">
                    Gestion des Réservations
                </div>
                <div id="div" (click)="show_users()" class="row properties">
                    Gestion des Abonnés
                </div>
                <div id="div" (click)="show_demandes()" class="row properties">
                    Gestion des Adhesions
                </div>
                <div id="div" (click)="show_oeuvres()" class="row properties">
                    Gestion des Oeuvres
                </div>
                <div id="div" (click)="show_armoires()" class="row properties">
                    Gestion des Armoires
                </div>
            </div>
        </div>
        <div class="col-9 mt-2" style="padding-left: 20px">
            <div class="row">
                <span style="font-size: 17px; color: gray">
                    Profil / Admin
                </span>
            </div>
            <hr />

            <!-- Gestion des abonnements -->
            <div *ngIf="abonnement" class="row col-lg-12 mt-2">
                <div class="row col-lg-12 mt-2 justify-content-center">
                    <h4>Bienvenue sur le menu de gestion des abonnements</h4>
                </div>

                <div class="row col-lg-12 mt-2">
                    <div class="justify-content-center mt-2 row col-lg-12">
                        <h4>Liste des abonnements en cours et non retournés</h4>
                    </div>
                    <table class="table">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col">Numero Abonnement</th>
                                <th scope="col">Détails</th>
                                <th scope="col">Date de l'Abonnement</th>
                                <th scope="col">Date Fin de L'abonnement Prévu</th>
                                <th scope="col">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let x of listAbonnement | 
                            paginate:{itemsPerPage: 5, currentPage:p}">
                                <td>{{x.numero}}</td>
                                <td>///</td>
                                <td>{{x.DateAbonnement}}</td>
                                <td>{{x.DateFinAbonnementPrevu}}</td>
                                <td><a class="fa fa-close btn btn-danger"
                                        style="color:white; font-size: 20px; cursor: pointer;"></a></td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="row col-12 justify-content-center">
                        <pagination-controls (pageChange)="p=$event"></pagination-controls>
                    </div>
                </div>
            </div>

            <!-- Gestion des utilisateurs -->
            <div *ngIf="users" class="row col-lg-12 mt-2">
                <div class="row col-lg-12 mt-2 justify-content-center">
                    <h4>Bienvenue sur le menu de gestion des Abonnés</h4>
                </div>
                <div class="row col-lg-12 mt-2" style="font-size: 20px">
                    <a style="color: white" class="btn btn-primary" (click)="AddUser(user)"> <span
                            class="fa fa-plus"></span> Nouvel Abonné</a>
                </div>

                <div class="row col-lg-12 mt-2">
                    <table class="table">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col">Numero</th>
                                <th scope="col">CIN</th>
                                <th scope="col">Nom et Prénom</th>
                                <th scope="col">Email</th>
                                <th scope="col" colspan="2" class="justify-content-center">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let x of listAbonne | 
                            paginate:{itemsPerPage: 5, currentPage:p}">
                                <th scope="row">{{x.numAbonne}}</th>
                                <td>{{x.cin}}</td>
                                <td>{{x.nom}} - {{x.prenom}}</td>
                                <td>{{x.email}}</td>
                                <td><a class="fa fa-edit btn btn-success"
                                        style="color:white; font-size: 20px; cursor: pointer;"></a></td>
                                <td><a class="fa fa-trash btn btn-danger"
                                        style="color:white; font-size: 20px; cursor: pointer;"></a></td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="row col-12 justify-content-center">
                        <pagination-controls (pageChange)="p=$event"></pagination-controls>
                    </div>
                </div>
            </div>

            <!-- Gestion des oeuvres -->
            <div *ngIf="oeuvres" class="row col-lg-12 mt-2">
                <div class="row col-lg-12 mt-2 justify-content-center">
                    <h4>Bienvenue sur le menu de gestion des Oeuvres</h4>
                </div>
                <div class="row col-lg-12 mt-2" style="font-size: 20px">
                    <div class="row col-lg-12">
                        <div class="col-3">
                            <a style="color: white" (click)="AddOeuvre(oeuvre)" class="btn btn-primary"> <span
                                    class="fa fa-plus"></span> Nouvelle Oeuvre</a>
                        </div>
                        <div class="col-9">
                            <form class="form-inline my-2 my-lg-0">
                                <input class="form-control mr-sm-2" type="search" placeholder="Filtrez par catégorie "
                                    aria-label="Search">
                                <button class="btn btn-primary my-2 my-sm-0" type="submit"><span class="fa fa-filter">
                                    </span> Filtrer</button>
                            </form>
                        </div>
                    </div>
                </div>

                <div class="row col-lg-12 mt-2">

                    <table class="table">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col">Numero ISBN</th>
                                <th scope="col">Titre</th>
                                <th scope="col">Auteur</th>
                                <th scope="col">Nombre Exemplaire</th>
                                <th scope="col">Quantite disponible</th>
                                <th scope="col" colspan="3">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let x of listOeuvre | 
                            paginate:{itemsPerPage: 5, currentPage:p}">
                                <td>{{x.numeroISBN}}</td>
                                <td>{{x.titre}}</td>
                                <td>{{x.auteur}}</td>
                                <td>{{x.QteTotale}}</td>
                                <td>{{x.QteDispo}}</td>
                                <td><a class="fa fa-edit btn btn-success" style="color:white; cursor: pointer;">
                                    </a></td>
                                <td><a class="fa fa-trash btn btn-danger" style="color:white; cursor: pointer;">
                                    </a></td>
                                <td><a class="fa fa-eye btn btn-primary" style="color:white; cursor: pointer;">
                                    </a></td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="row col-12 justify-content-center">
                        <pagination-controls (pageChange)="p=$event"></pagination-controls>
                    </div>
                </div>
            </div>

            <!-- Gestion des Réservations -->
            <div *ngIf="reservation" class="row col-lg-12 mt-2">
                <div class="row col-lg-12 mt-2 justify-content-center">
                    <h4>Bienvenue sur le menu de gestion des réservations</h4>
                </div>
                <div class="row col-lg-12 mt-2">

                    <table class="table">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col">Numero</th>
                                <th scope="col">Détails</th>
                                <th scope="col">Date Réservation</th>
                                <th scope="col" colspan="2">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">1</th>
                                <td>Mark</td>
                                <td>Otto</td>
                                <td><a class="fa fa-check btn btn-success"
                                        style="color:white; font-size: 20px; cursor: pointer;"></a></td>
                                <td><a class="fa fa-trash btn btn-danger"
                                        style="color:white; font-size: 20px; cursor: pointer;"></a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <!-- Gestion des adhésions -->
            <div *ngIf="demande" class="row col-lg-12 mt-2">
                <div class="row col-lg-12 mt-2 justify-content-center">
                    <h4>Bienvenue sur le menu de gestion des adhésions</h4>
                </div>
                <div class="row col-lg-12 mt-2">
                    <table class="table">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col">CIN</th>
                                <th scope="col">Nom et Prénom</th>
                                <th scope="col">Email / tel </th>
                                <th scope="col">Adresse</th>
                                <th scope="col">login</th>
                                <th scope="col" colspan="2">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let x of listNonAbonne | 
                            paginate:{itemsPerPage: 5, currentPage:p}">
                                <td>{{x.cin}}</td>
                                <td>{{x.nom}} - {{x.prenom}}</td>
                                <td>{{x.email}} / {{x.tel}}</td>
                                <td>{{x.adresse}}</td>
                                <td>{{x.login}}</td>
                                <td><a (click)="Accept(x.id)" class="fa fa-check btn btn-success"
                                        style="color:white; font-size: 20px; cursor: pointer;"></a></td>
                                <td><a class="fa fa-trash btn btn-danger"
                                        style="color:white; font-size: 20px; cursor: pointer;"></a></td>
                            </tr>
                        </tbody>
                    </table>
                    <div *ngIf="listNonAbonne.length>5" class="row col-12 justify-content-center">
                        <pagination-controls (pageChange)="p=$event"></pagination-controls>
                    </div>
                </div>
            </div>

            <!-- Gestion des armoires -->
            <div *ngIf="armoire" class="row col-lg-12 mt-2">
                <div class="row col-lg-12 mt-2 justify-content-center">
                    <h4>Bienvenue sur le menu de gestion des armoires</h4>
                </div>

                <div class="row col-lg-12 mt-2">

                </div>
            </div>
        </div>
    </div>
</main>

<!--Ajout Utilisateurs-->
<ng-template #user>
    <div class="modal-header justify-content-center" style="background-color: #ccc;">
        <img src="../../../assets/stack-of-books-images-Books.png" style="height: 70px;">
    </div>
    <div class="modal-body text-center">
        <form [formGroup]="form">
            <div class="form-group form-row">
                <label>CIN</label>
                <input type="text" class="form-control" id="_cin" name="_cin" formControlName="_cin" autocomplete="off"
                    required>
            </div>
            <div class="form-group form-row">
                <label>Nom</label>
                <input type="text" class="form-control" id="_nom" name="_nom" formControlName="_nom" autocomplete="off"
                    required>
            </div>
            <div class="form-group form-row">
                <label>Prénom</label>
                <input type="text" class="form-control" id="_prenom" name="_prenom" formControlName="_prenom"
                    autocomplete="off" required>
            </div>
            <div class="form-group form-row">
                <label>Email</label>
                <input type="email" id="_email" formControlName="_email" name="_email" class="form-control"
                    autocomplete="off" required>
            </div>
            <div class="form-group form-row">
                <label>Téléphone</label>
                <input type="text" class="form-control" id="_tel" name="_tel" formControlName="_tel" autocomplete="off"
                    required>
            </div>
            <div class="form-group form-row">
                <label>Adresse</label>
                <input type="text" class="form-control" id="_adresse" name="_adresse" formControlName="_adresse"
                    autocomplete="off" required>
            </div>
            <div class="form-group form-row">
                <label>Login</label>
                <input type="text" class="form-control" id="_pseudo" name="_pseudo" formControlName="_pseudo"
                    autocomplete="off" required>
            </div>
            <div class="form-group form-row">
                <label>Mot de passe</label>
                <input type="password" class="form-control" id="_pwd" name="_pwd" formControlName="_pwd"
                    autocomplete="off" required>
            </div>
            <div class="form-group form-row">
                <label>Confirmer le mot de passe</label>
                <input type="password" class="form-control" id="_pwd_" name="_pwd_" formControlName="_pwd_"
                    autocomplete="off" required>
            </div>

        </form>


    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-success pull-right" (click)="Validate()">
            Valider
        </button>
        <button type="button" class="btn btn-danger pull-left" (click)="modalRef.hide()">
            Annuler
        </button>

    </div>

</ng-template>


<!--Ajout Oeuvres-->
<ng-template #oeuvre>
    <div class="modal-header justify-content-center" style="background-color: #ccc;">
        <img src="../../../assets/stack-of-books-images-Books.png" style="height: 70px;">
    </div>
    <div class="modal-body text-center">
        <form [formGroup]="formOeuvre">
            <div class="form-group form-row">
                <label>Numero ISBN</label>
                <input type="text" class="form-control" id="_isbn" name="_isbn" formControlName="_isbn"
                    autocomplete="off" required>
            </div>
            <div class="form-group form-row">
                <label>Titre</label>
                <input type="text" class="form-control" id="_titre" name="_titre" formControlName="_titre"
                    autocomplete="off" required>
            </div>
            <div class="form-group form-row">
                <label>Auteur</label>
                <input type="text" class="form-control" id="_auteur" name="_auteur" formControlName="_auteur"
                    autocomplete="off" required>
            </div>
            <div class="form-group form-row">
                <label>Edition</label>
                <input type="text" class="form-control" id="_edition" name="_edition" formControlName="_edition"
                    autocomplete="off" required>
            </div>
            <div class="form-group form-row">
                <label>Date de parution</label>
                <input type="date" class="form-control" id="_parution" name="_parution" formControlName="_parution"
                    required>
            </div>
            <div class="form-group form-row">
                <label>Résumé</label>
                <textarea class="form-control" id="_resume" name="_resume" formControlName="_resume" autocomplete="off"
                    required></textarea>
            </div>
            <div class="form-group form-row">
                <label>Quantité</label>
                <!-- N'oublie pas d'ajouter le control sur la valeur saisie -->
                <input type="text" class="form-control" id="_qte" name="_qte" formControlName="_qte" autocomplete="off"
                    required>
            </div>

            <div class="form-group form-row">
                <label>Catégories</label>
                <select (change)="FindSection()" formControlName="_categorie" id="_categorie" name="_categorie" class="custom-select  ">
                    <option  [value]="x.id" *ngFor="let x of ListeCategorie">{{x.libelle}}</option>
                </select>
            </div>

            <!-- A partir de la liste des catégories on charge les sections corresondantes -->
            <div class="form-group form-row">
                <label>Section</label>
                <select formControlName="_section" id="_section" name="_section" class="custom-select">
                    <option [value]="x.id" *ngFor="let x of ListeSection">{{x.libelle}}</option>
                </select>
            </div>

            <div class="form-group form-row">
                <label>Image</label>
                <input (change)="GetImage($event)" type="file" class="form-control" id="_image" name="_image"
                    formControlName="_image" required>
            </div>

        </form>


    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-success pull-right" (click)="Ajouter()">
            Valider
        </button>
        <button type="button" class="btn btn-danger pull-left" (click)="modalRef.hide()">
            Annuler
        </button>

    </div>

</ng-template>
<!-- <app-footer></app-footer> -->