<nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="font-family: 'Times New Roman', Times, serif">
  <a routerLink="/" class="navbar-brand" style="color: white">Bienvenue</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/">Accueil <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/">Tendances</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/">Nous contacter</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/">A propos</a>
      </li>

<!--       <li class="nav-item">
        <a class="nav-link" ></a>
      </li>

      <li class="nav-item">
        <a class="nav-link" ></a>
      </li>

      <li class="nav-item">
        <a class="nav-link" ></a>
      </li>

      <li class="nav-item">
        <a class="nav-link" ></a>
      </li>

      <li class="nav-item">
        <a class="nav-link" ></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" ></a>
      </li> -->

      <li class="nav-item">
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="search" placeholder="Que recherchez-vous ?" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Rechercher</button>
        </form>
      </li>
    </ul>
    <!-- Si l'utilisateur n'est pas connecté -->
    <span *ngIf="!ok" className="navbar-text" style="font-size: 20px; color: white;">
      <a class="fa fa-user" style="color: white;" href="" routerLink="/login"> Se connecter</a>
    </span>
    <!-- Si l'utilisateur est connectée -->
    <span *ngIf="ok" style="font-size: 20px; color: white; cursor: pointer;">
      <div class="dropdown">
        <a class="nav-link dropdown-toggle">{{abonne.nom}} - {{abonne.prenom}}</a>
        <div class="dropdown-content">
        <a (click)="Profil()">Mon compte</a>
        <!-- <div class="dropdown-divider"></div> -->
        <a (click)="Deconnexion()">Déconnexion</a>
        </div>
      </div>
    </span>
  </div>
</nav>

