.dropbtn {
    /*  background-color: #4CAF50; */
    /*   color: white; */
    /*   padding: 16px;
    font-size: 16px;
    border: none; */
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

  
  .dropdown-content a:hover {background-color:#343a40; color: white} 

.dropdown:hover .dropdown-content {
    display: block;
}

/*   .dropdown:hover .dropbtn {
    background-color: #3e8e41;
  } */