<main style="background-color:#343a40; color: white;font-family: 'Times New Roman', Times, serif">
    <div class="container-fluid"
        style="background-image: url('https://www.latribunedemarrakech.com/wp-content/uploads/2019/09/8314929977_36b1d58cf6_o_0.jpg');background-repeat: no-repeat; background-size: cover; padding-left: 50px; padding-right: 50px; color: rgb(0, 0, 0); padding-bottom: 30px;;">

        <div class="row">
            <div class="col-12">
                <h1 style="color: white; text-align: center;">Retrouvez en ce moment </h1>
            </div>

        </div>
        <div class="row">
            <div class="col-5">
                <h4 style="color: white;">Melissa, comtesse de Sheffield</h4>
                <img src="https://cdn1.booknode.com/book_cover/1224/melissa-comtesse-de-sheffield-1224038-264-432.jpg"
                    width="270px" alt="text">
            </div>

            <div class="col-7">
                <h3 style="text-align: center; color: white;">Résumé</h3>
                <p style="text-align: justify; font-size: 18px; color: white;">
                    Cette fois, le père du vicomte Leighton Somerset est allé trop loin. Cet incorrigible personnage
                    qui, à plus de
                    soixante ans, continue de mener une vie de sybarite, vouée au jeu, aux femmes et à l’alcool, vient
                    de perdre aux
                    cartes le peu d’argent qui lui restait. Déjà, les créanciers s’impatientent…

                    Bien sûr, il y aurait la possibilité de vendre le manoir de Greyhaven, mais Leighton refuse de
                    perdre cette
                    belle
                    demeure familiale à laquelle il est tant attaché. Il n’a donc plus le choix. Pour sauver Greyhaven
                    et l’honneur
                    de
                    la famille, lui, le charmeur dont toutes les dames de la bonne société londonienne sont secrètement
                    amoureuses,
                    se
                    voit obligé de renoncer à son célibat pour épouser une riche héritière. Mais laquelle ? Après
                    maintes
                    recherches,
                    le vicomte jette son dévolu sur Melissa Hampton. Riche et séduisante, celle-ci semble n’avoir qu’un
                    défaut
                    majeur
                    : un caractère froid et hautain, qui lui a d’ailleurs valu le surnom peu flatteur de Lady Dédain.

                    Pour Leighton, si la proie est fort tentante, elle s’annonce bien difficile à attraper !
                </p>
                <p>
                    <button class="btn btn-primary">Consulter</button>
                </p>
            </div>
        </div>
    </div>
</main>