<app-header></app-header>
<main style="background: whitesmoke; font-family: 'Times New Roman', Times, serif">
    <div class="row col-lg-12" style="height: 580px;">
        <div class="col-3 bg-dark">
            <div class="navbar-menu mt-5" style="color: white; font-size: 20px;">
                <div id="div" (click)="show_profile()" class="row properties afterClick">
                    Mon profil
                </div>
                <div id="div" (click)="show_books()" class="row properties">
                    Livres consultés
                </div>
                <div id="div" (click)="show_abonnement()" class="row properties">
                    Mes abonnements
                </div>
            </div>
        </div>
        <div class="col-9 mt-2" style="padding-left: 20px">
            <div class="row">
                <span style="font-size: 17px; color: gray">
                    {{abonne.numAbonne}} / {{abonne.nom}} {{abonne.prenom}}
                </span>
            </div>
            <hr />

            <!-- ¨Profil -->
            <div *ngIf="profil" class="row col-lg-12 mt-2">
                <div class="row col-lg-12 mt-2 justify-content-center">
                    <h4>Vos informations</h4>
                </div>
                <div class="row col-lg-12 mt-2" style="font-size: 20px">
                    <form [formGroup]="form" class="col-12">
                        <div class="row col-12 well mt-3">
                            <div class="col-4">
                                <label>CIN</label>
                                <input type="text" class="form-control" id="_cin" name="_cin" formControlName="_cin"
                                    autocomplete="off" required>
                            </div>
                            <div class="col-4">
                                <label>Nom</label>
                                <input type="text" class="form-control" id="_nom" name="_nom" formControlName="_nom"
                                    autocomplete="off" required>
                            </div>
                            <div class="col-4">
                                <label>Prénom</label>
                                <input type="text" class="form-control" id="_prenom" name="_prenom"
                                    formControlName="_prenom" autocomplete="off" required>
                            </div>

                        </div>
                        <div class="row col-12 well mt-3">
                            <div class="col-4">
                                <label>Email</label>
                                <input type="email" id="_email" formControlName="_email" name="_email"
                                    class="form-control" autocomplete="off" required>
                            </div>
                            <div class="col-4">
                                <label>Téléphone</label>
                                <input type="text" class="form-control" id="_tel" name="_tel" formControlName="_tel"
                                    autocomplete="off" required>
                            </div>
                            <div class="col-4">
                                <label>Adresse</label>
                                <input type="text" class="form-control" id="_adresse" name="_adresse"
                                    formControlName="_adresse" autocomplete="off" required>
                            </div>

                        </div>

                        <hr />

                        <div class="row col-12 well mt-3">
                            <div class="col-4">
                                <label>Login</label>
                                <input type="text" class="form-control" id="_pseudo" name="_pseudo"
                                    formControlName="_pseudo" autocomplete="off" required>
                            </div>
                            <div class="col-4">
                                <label>Mot de passe</label>
                                <input type="password" class="form-control" id="_pwd" name="_pwd" formControlName="_pwd"
                                    autocomplete="off" required>
                            </div>
                            <div class="col-4">
                                <label>Confirmer le mot de passe</label>
                                <input type="password" class="form-control" id="_pwd_" name="_pwd_"
                                    formControlName="_pwd_" autocomplete="off" required>
                            </div>
                        </div>

                        <div class="row col-12 mt-3" style="margin-bottom: 10px">
                            <div class="col-4"></div>
                            <div class="col-4"></div>
                            <div class="col-4">
                                <button style="float: right" class="btn btn-md btn-primary" type="submit"
                                    (click)="Validate()">Valider</button>
                            </div>
                        </div>
                    </form>
                </div>

            </div>

            <!-- Abonnements -->
            <div *ngIf="abonnements" class="row col-lg-12 mt-2">
                <div class="row col-lg-12 mt-2 justify-content-center">
                    <h4>Vos abonnements</h4>
                </div>
                <div class="row col-lg-12 mt-2">

                    <table class="table">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col">Numero Abonnement</th>
                                <th scope="col">Détails</th>
                                <th scope="col">Date de l'Abonnement</th>
                                <th scope="col">Date de fin de l'Abonnement De prévu</th>
                                <th scope="col">Etat</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let x of  AbonnementList| 
                            paginate:{itemsPerPage: 8, currentPage:p}">
                                <td>{{x.numero}}</td>
                                <td>{{detailListe.titre}} - {{detailListe.auteur}}</td>
                                <td>{{x.DateAbonnement}}</td>
                                <td>{{x.DateReelleFinAbonnement}}</td>
                                <td *ngIf="x.DateReelleFinAbonnement==null"><a class="fa fa-close" style="color:crimson; font-size: 20px; cursor: pointer;"> Non rendu</a></td>
                                <td *ngIf="x.DateReelleFinAbonnement!=null"><a class="fa fa-close" style="color:crimson; font-size: 20px; cursor: pointer;"> Rendu</a></td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="row col-12 justify-content-center">
                        <pagination-controls (pageChange)="p=$event"></pagination-controls>
                    </div>
                </div>
            </div>

            <!-- Oeuvres -->
            <div *ngIf="oeuvres" class="row col-lg-12 mt-2">
                <div class="row col-lg-12 mt-2 justify-content-center">
                    <h4>Les oeuvres que vous avez consulté</h4>
                </div>

                <div class="row col-lg-12 mt-2" style="font-size: 20px">
                    <div class="row col-lg-12">

                        <form class="form-inline my-2 my-lg-0">
                            <input class="form-control mr-sm-2" type="search" placeholder="Filtrez par catégorie "
                                aria-label="Search">
                            <button class="btn btn-primary my-2 my-sm-0" type="submit"><span class="fa fa-filter">
                                </span> Filtrer</button>
                        </form>

                    </div>
                </div>

                <div class="row col-lg-12 mt-2">

                    <table class="table">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col">Numero ISBN</th>
                                <th scope="col">Titre</th>
                                <th scope="col">Auteur</th>
                                <th scope="col">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">1</th>
                                <td>Mark</td>
                                <td>Otto</td>
                                <td><a class="fa fa-eye btn btn-primary" style="color:white; cursor: pointer;">
                                        Détails</a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>
</main>
<!-- <app-footer></app-footer> -->