<app-header></app-header>
<main style="background-color:#343a40; color: white;font-family: 'Times New Roman', Times, serif">
    <div class="container" class="container-fluid"
        style="background-image: url('https://www.latribunedemarrakech.com/wp-content/uploads/2019/09/8314929977_36b1d58cf6_o_0.jpg');background-repeat: no-repeat; background-size: cover; padding-left: 50px; padding-right: 50px; color: rgb(0, 0, 0); padding-bottom: 30px;;">

        <div class="row">
            <div class="col-5">
                <h4 style="color: rgb(255, 255, 255);">Melissa, comtesse de Sheffield</h4>
                <h5 style="color: rgb(255, 255, 255);">3 notes | <a
                        style="text-decoration: underline; color: blue; cursor: pointer;"
                        (click)="Commentaire(commentaires)">2 commentaire(s)</a> | 3 exemplaire(s) disponible(s)
                </h5>
                <img src="https://cdn1.booknode.com/book_cover/1224/melissa-comtesse-de-sheffield-1224038-264-432.jpg"
                    width="270px" alt="text">
                <p style="font-size:20px">
                    <i style="color: gold;" class="fa fa-star"></i>
                    <i style="color: gold;" class="fa fa-star"></i>
                    <i style="color: gold;" class="fa fa-star"></i>
                    <i style="color: gold;" class="fa fa-star"></i>
                    <i style="color: gold;" class="fa fa-star"></i>
                </p>
                <button class="btn btn-success" (click)="Reservation(login)">Réserver</button>
            </div>

            <div class="col-7">
                <h3 style="text-align: center; color: rgb(255, 255, 255);">Résumé</h3>
                <p style="text-align: justify; font-size: 15px; color: rgb(240, 240, 240);">
                    Cette fois, le père du vicomte Leighton Somerset est allé trop loin. Cet incorrigible personnage
                    qui, à
                    plus de
                    soixante ans, continue de mener une vie de sybarite, vouée au jeu, aux femmes et à l’alcool, vient
                    de
                    perdre aux
                    cartes le peu d’argent qui lui restait. Déjà, les créanciers s’impatientent…

                    Bien sûr, il y aurait la possibilité de vendre le manoir de Greyhaven, mais Leighton refuse de
                    perdre
                    cette
                    belle
                    demeure familiale à laquelle il est tant attaché. Il n’a donc plus le choix. Pour sauver Greyhaven
                    et
                    l’honneur
                    de
                    la famille, lui, le charmeur dont toutes les dames de la bonne société londonienne sont secrètement
                    amoureuses,
                    se
                    voit obligé de renoncer à son célibat pour épouser une riche héritière. Mais laquelle ? Après
                    maintes
                    recherches,
                    le vicomte jette son dévolu sur Melissa Hampton. Riche et séduisante, celle-ci semble n’avoir qu’un
                    défaut
                    majeur
                    : un caractère froid et hautain, qui lui a d’ailleurs valu le surnom peu flatteur de Lady Dédain.

                    Pour Leighton, si la proie est fort tentante, elle s’annonce bien difficile à attraper !
                </p>
                <hr />
                <p style="color: rgb(255, 255, 255);"><strong>Auteur : </strong> Deborah Simmons</p>
                <p style="color: rgb(255, 255, 255);"><strong>Date de parrution:</strong> 1993</p>
                <p style="color: rgb(255, 255, 255);"><strong>Editeur:</strong> Harlequin</p>
                <p style="color: rgb(255, 255, 255);"><strong>Nombre de pages:</strong> 376</p>
                <p style="color: rgb(255, 255, 255);"><strong>Emplacement:</strong> Armoire: B -> Section: Romans +
                    Livres en poche ->Etagères: 2 - 6 </p>
                <hr />
                <div>
                    <h2 style="color: rgb(255, 255, 255);">Laisser un commentaire ?</h2>
                    <form [formGroup]="form" class="row col-12">
                        <div class="col-md-10">
                            <textarea class="form-control" id="_com" name="_com" formControlName="_com"
                                autocomplete="off" required placeholder="Votre commentaire"></textarea>
                        </div>
                        <div class="col-md-2">
                            <button class="btn btn-success" (click)="Post(login)">Publier</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>
</main>

<!--Ajout Commentaire-->
<ng-template #commentaires>
    <div class="modal-header justify-content-center" style="background-color: #ccc;">
        <img src="../../../assets/stack-of-books-images-Books.png" style="height: 70px;">
    </div>
    <div class="modal-body text-center">


    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-danger pull-left" (click)="modalRef.hide()">
            Annuler
        </button>
    </div>

</ng-template>


<!--Connexion-->
<ng-template #login>
    <div class="modal-header justify-content-center" style="background-color: #ccc;">
        <img src="../../../assets/stack-of-books-images-Books.png" style="height: 70px;">
    </div>
    <div class="modal-body text-center">

        <form [formGroup]="formins">

            <div class="form-group form-row">
                <input type="email" id="inputEmail" formControlName="inputEmail" name="inputEmail"
                    class="form-control mt-4" placeholder="Login" required autofocus autocomplete="off">
            </div>
            <div class="form-group form-row">
                <input type="password" id="inputPassword" formControlName="inputPassword" name="inputPassword"
                    class="form-control mt-4" placeholder="Mot de passe" required autocomplete="off">
            </div>
            <div class="form-group justify-content-center">
                <label>
                    Pas inscrit? <a href="" (click)="modalRef.hide()" routerLink="/inscription">Veuillez vous inscrire</a>
                </label>
            </div>


        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-danger pull-left" (click)="modalRef.hide()">
            Annuler
        </button>
        <button class="btn btn-success pull-right" type="submit" (click)="Validate(modalRef)">Connexion</button>
    </div>

</ng-template>
<!-- <app-footer></app-footer> -->