<app-header></app-header>
<div class="text-center container mt-5" style="font-family: 'Times New Roman', Times, serif">
  <form class="form-signin col-6 container" [formGroup]="form">
    <img class="mb-4" src="../../../assets/stack-of-books-images-Books.png" alt="" width="100px" height="100px">
    <h1 class="h3 mb-3 font-weight-normal">Formulaire de connexion</h1>

    <input type="email" id="inputEmail" formControlName="inputEmail" name="inputEmail" class="form-control mt-4"
      placeholder="Login" required autofocus autocomplete="off">

    <input type="password" id="inputPassword" formControlName="inputPassword" name="inputPassword"
      class="form-control mt-4" placeholder="Mot de passe" required autocomplete="off">
    <div class="mb-3">
      <label>
        Pas inscrit? <a href="" routerLink="/inscription">Veuillez vous inscrire</a>
      </label>
    </div>
    <div *ngIf="error" class="mb-3">
      <label style="color: red; text-transform: capitalize">
        Login ou mot de passe incorrect
      </label>
    </div>
    <button class="btn btn-lg btn-primary btn-block" type="submit" (click)="Validate()">Connexion</button>
  </form>
</div>
<app-footer></app-footer>