<app-header></app-header>
<div class="card container mt-5" style="font-family: 'Times New Roman', Times, serif">
  <form [formGroup]="form" class="col-12">
    <div class="col-12 text-center">
      <img class="mb-4" src="../../../assets/stack-of-books-images-Books.png" alt="" width="100px" height="100px">
      <h1 class="h3 mb-3 font-weight-normal">Formulaire d'inscription</h1>
    </div>

    <hr />
    <div class="row col-12 well mt-3">
      <div class="col-4">
        <label>CIN</label>
        <input type="text" class="form-control" id="_cin" name="_cin" formControlName="_cin" autocomplete="off"
          required>
      </div>
      <div class="col-4">
        <label>Nom</label>
        <input type="text" class="form-control" id="_nom" name="_nom" formControlName="_nom" autocomplete="off"
          required>
      </div>
      <div class="col-4">
        <label>Prénom</label>
        <input type="text" class="form-control" id="_prenom" name="_prenom" formControlName="_prenom" autocomplete="off"
          required>
      </div>

    </div>
    <div class="row col-12 well mt-3">
      <div class="col-4">
        <label>Email</label>
        <input type="email" id="_email" formControlName="_email" name="_email" class="form-control" autocomplete="off"
          required>
      </div>
      <div class="col-4">
        <label>Téléphone</label>
        <input type="text" class="form-control" id="_tel" name="_tel" formControlName="_tel" autocomplete="off"
          required>
      </div>
      <div class="col-4">
        <label>Adresse</label>
        <input type="text" class="form-control" id="_adresse" name="_adresse" formControlName="_adresse"
          autocomplete="off" required>
      </div>

    </div>

    <hr />

    <div class="row col-12 well mt-3">
      <div class="col-4">
        <label>Login</label>
        <input type="text" class="form-control" id="_pseudo" name="_pseudo" formControlName="_pseudo" autocomplete="off"
          required>
      </div>
      <div class="col-4">
        <label>Mot de passe</label>
        <input type="password" class="form-control" id="_pwd" name="_pwd" formControlName="_pwd" autocomplete="off"
          required>
      </div>
      <div class="col-4">
        <label>Confirmer le mot de passe</label>
        <input type="password" class="form-control" id="_pwd_" name="_pwd_" formControlName="_pwd_" autocomplete="off"
          required>
      </div>
    </div>

    <div class="row col-12 mt-3" style="margin-bottom: 10px">
      <div class="col-4"></div>
      <div class="col-4"></div>
      <div class="col-4">
        <button style="float: right" class="btn btn-md btn-primary" type="submit" (click)="Validate(erreur)">Valider</button>
      </div>
    </div>
  </form>
</div>
<app-footer></app-footer>

<ng-template #erreur>
  <div class="modal-header justify-content-center" style="background-color: #ccc;">
      <img src="../../../assets/stack-of-books-images-Books.png" style="height: 70px;">
  </div>
  <div class="modal-body text-center">

<h4>Une erreur est survenue lors de l'envoie de la demande</h4>
  </div>
  <div class="modal-footer">
      <button type="button" class="btn btn-danger pull-left" (click)="modalRef.hide()">
          Annuler
      </button>
  </div>

</ng-template>